.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 10px 15px;
    text-decoration: none;
    color: hsl(var(--clr-neutral-100));
    background: hsl(var(--clr-neutral-800));
    border-radius: var(--br-6);
    border: 1px solid transparent;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: var(--ls-0);
    cursor: pointer;
}
.nav-item:hover {
    background: hsl(var(--clr-neutral-600));
}

.nav-item .numbered-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    min-width: 31.33333px;
    aspect-ratio: 1;
    background: hsl(var(--clr-neutral-600));
    border: 1px solid hsl(var(--clr-neutral-400));
    color: hsl(var(--clr-neutral-0));
    border-radius: 50%;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: var(--ls-0);
}

.nav-item.active {
    color: hsl(var(--clr-neutral-0));
    background: hsl(var(--clr-neutral-800));
    border: 1px solid transparent;
}

.nav-item.active.home-icon, .nav-item.active.archive-icon {
    background: hsl(var(--clr-neutral-600));
}

.nav-item.active.checkbox {
    background: hsl(var(--clr-neutral-900));
}

