.nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--text-secondary);
    background: var(--surface-panel);
    border-radius: var(--br-6);
    border: var(--border-transparent);
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: var(--ls-0);
    cursor: pointer;
}
.nav-item:hover {
    background: var(--surface-panel-muted);
}

.nav-item .numbered-count {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 8px;
    min-width: 31.33333px;
    aspect-ratio: 1;
    background: var(--surface-panel-muted);
    border: 1px solid var(--border-default);
    color: var(--text-primary);
    border-radius: 50%;
    font-family: "Manrope", sans-serif;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: var(--ls-0);
}

.nav-item.active {
    color: var(--text-primary);
    background: var(--surface-panel);
    border: var(--border-transparent);
}

.nav-item.active.home-icon, .nav-item.active.archive-icon {
    background: var(--surface-panel-muted);
}

.nav-item.active.checkbox {
    background: var(--surface-page);
}
