/* ========== Buttons ========== */

button {
    display: inline-flex;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: var(--ls-0);
    padding-inline: 12px;
    padding-block: 10px;
    border-radius: var(--br-8);
    cursor: pointer;
    align-items: center;
    outline: none;
    box-sizing: border-box;
    white-space: nowrap;
  }
  
  button.button--large {
    padding-inline: 16px;
    padding-block: 12px;              
  }
  
  button.button--primary {
    --main-color: var(--clr-teal-700);
    background: hsl(var(--main-color));
    color: hsl(var(--clr-neutral-0));
    border: none;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
  }
  button.button--primary:hover {
    background: hsl(var(--clr-teal-800));
  }
  button.button--primary:focus {
    outline: 1px solid hsl(var(--clr-neutral-100));
    outline-offset: 1px;
  }
  
  button.button--secondary {
    --main-color: var(--clr-neutral-900);
    background: hsl(var(--main-color));
    border: 1px solid hsl(var(--clr-neutral-400));
    color: hsl(var(--clr-neutral-0));
  }
  button.button--secondary:hover {
    background: hsl(var(--clr-neutral-100));
  }
  button.button--secondary:focus {
    outline: 1px solid hsl(var(--clr-neutral-900));
    outline-offset: 1px;
  }
button.button--secondary:active {
    color: hsl(var(--clr-neutral-700));
    border: 1px solid hsl(var(--clr-neutral-700));
  }

button.button--tertiary {
  width: 100%;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 0.5rem;
  background: transparent;
  border: 1px solid transparent;
  color: hsl(var(--clr-neutral-100));
  border-radius: var(--br-6);
}
button.button--tertiary:hover {
  background: hsl(var(--clr-neutral-500));
}
button.button--tertiary:focus {
  background: hsl(var(--clr-neutral-600));
  outline: 1px solid hsl(var(--clr-neutral-100));
  outline-offset: 1px;
}


button .icon {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  vertical-align: -0.125em;
  color: inherit;
}
button .icon img {
    fill: white;
    color: white;
}

button.button--icon-only {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: hsl(var(--clr-neutral-800));
    border: 1px solid hsl(var(--clr-neutral-500));
}
button.button--icon-only:hover {
    background-color: hsl(var(--clr-neutral-600));
}
button.button--icon-only:focus {
  background-color: hsl(var(--clr-neutral-800));
  border: 1px solid hsl(var(--clr-neutral-600));
  outline: 1px solid hsl(var(--clr-neutral-100));
  outline-offset: 1px;
}
.button.button--icon-only svg {
    padding: 0;
    margin: 0;
}

.button.button--tertiary .icon {
  margin-right: 0;
  flex-shrink: 0;
}

.button.button--icon-right {
  flex-direction: row-reverse;
  justify-content: space-between;
}
.button.button--icon-right .icon {
  margin-right: 0;
  margin-left: 0.5em;
}
.button.button--icon-hidden .icon {
  opacity: 0;
  pointer-events: none;
}

.button.text-align-center {
  justify-content: center;
}
