.dialog-modal {
    position: fixed;
    display: grid;
    place-items:center;
    width: 100%;
    height: 100dvh;
    z-index: 9999;
    
  }
  .dialog-modal:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
    backdrop-filter: blur(5px);
  }
  .dialog-modal-container {
    position: relative;
    max-width: 570px;
    width: min(570px, calc(100vw - 2rem));
    background-color: hsl(var(--clr-neutral-800));
    padding: 32px;
    border: 1px solid hsl(var(--clr-neutral-500));
    border-radius: var(--br-12);
  }

  .close-modal {
    position: absolute;
    appearance: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 15px;
    top: 15px;
    padding: 5px;
    border-radius: var(--br-6);
    border: 1px solid hsl(var(--clr-neutral-500));
    background-color: hsl(var(--clr-neutral-800));
    cursor: pointer;
  }
  .close-modal:hover {
    background-color: hsl(var(--clr-neutral-600));
  }
  .close-modal:focus {
    outline: 1px solid hsl(var(--clr-neutral-0));
    outline-offset: 1px;
  }

  .dialog-modal .form-header {
    display: flex;
    flex-direction: column;
    padding-block: 0;
    padding-block-end: 1rem;
    gap: 1rem;
  }

  #addBookmark {
    padding-block-end: 0;
  }

  .cta-group {
    display: flex;
    justify-content: right;
    padding-block-start: 1rem;
    gap: 1rem;
  }