.sidebar__header {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: var(--header-height);
    flex-direction: column;
}

.sidebar__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
button.minimal {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-block-end: 3px;
    border-radius: var(--br-0);
    border-bottom: 1px solid var(--border-subtle);
}

.sidebar__tags {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    
}

.sidebar__tags ul {
    list-style: none;
    margin: 0;
    padding: 0;
    scrollbar-color: var(--surface-panel) var(--surface-panel-muted);
    scrollbar-width: thin;
    overflow-y: auto;
    flex-grow: 1;
}

.sidebar__tags-label,
.sidebar__reset {
    color: var(--text-secondary);
}
